<!-- views/partials/header.ejs -->

<header>
    <title>header</title>
</header>

<body>

    <% if(user) { %>
    <p style="display: inline-block;">
    <%=  user.email %>
    </p>

    <form style="display: inline-block;" action="/logout" method="POST">
        <input name="logout" type="submit" value="logout">
    </form>
    <% } else  { %>
    <p><a href="/login">Login</a> or if you are not yet a user, <a href="/register">Register</a></p>

    <% };%>

</body>