<!-- views/partials/header.ejs -->

<header>
    <title>header</title>
</header>

<body>

<!-- if username exists, display username and logout button, else only show login form -->

<% if(user) { %>
    <p style="display: inline-block;">
        <%= user.email %>
    </p>

    <form style="display: inline-block;" action="/logout" method="POST">
        <input name="logout" type="submit" value="logout">
    </form>

    <% } else  { %>
    <form action="/login" method="POST">
        <label for="username">Login</label>
        <input id="username" type="text" name="username" placeholder="Enter your username" style="width: 200px">
        <input type="submit" value="Submit">
    </form>

    <% };%>

</body>