<!-- views/partials/header.ejs -->

<header>
    <title>header</title>
</header>

<body>

<!-- if username exists, display username and logout button, else only show login form -->

<% if(user) { %>
    <p style="display: inline-block;">
        <%= user.email %>
    </p>

    <form style="display: inline-block;" action="/logout" method="POST">
        <input name="logout" type="submit" value="logout">
    </form>
<!-- Return the registration link if not logged in -->
    <% } else  { %>
    <p><a href="/register">Register</a></p>
    <% };%>


</body>