<body>
    <h1>Login to TinyApp</h1>

    <% if(userId) { %>
    <p style="display: inline-block;">
        <%= user[userId].email %>
    </p>

    <form style="display: inline-block;" action="/logout" method="POST">
        <input name="logout" type="submit" value="logout">
    </form>

    <% } else  { %>
    <form action="/login" method="POST">
        <div style="margin:10px">
            <label for="userId">Email</label>
            <input id="userId" type="email" name="userId" style="width: 200px">

        </div>
        <div style="margin:10px">
            <label for="password">Password</label>
            <input id="password" type="text" name="password" style="width: 200px">
        </div>
        <input type="submit" value="Submit">
    </form>

    <% };%>


</body>

</html>
