<!-- the url_show.ejs will display the long URL and the shortened form of the url. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/_header %>
        <title>TinyApp</title>
    </head>
    <body>
        <!-- Add your EJS code here -->
        <h1>This is a long url and the shortened form</h1>
        <p><strong><%=shortURL %>:</strong> <a href=#><%=longURL %></a></p>
 
    </body>
</html>

