<!-- the url_show.ejs will display the long URL and the shortened form of the url. -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
    <title>Short URL details</title>
</head>

<body style="margin:25px">
    <h3>This is your short URL</h3>
    <p><strong>
            <%=shortURL %></strong> is currently associated with <strong><a href="<%=longURL %>">
                <%=urls[shortURL].longURL %></a></strong></p>
    <h3>Update your URL</h3>
    <form action="/urls/<%= shortURL %>" method="POST">
        <label for="longURL">Enter a new URL: </label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
    </form>

</body>

</html>